<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">GitFlub</h1>
    <h2 class="home">Why use GitHub when you could use GitFlub?</h2>
    <%= link_to "Login with GitHub", login_path, class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
</div>
