// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  border-right: 1px solid black
}

.feed {
  text-align: left;
}

a:link, a:visited {
  text-decoration: none;
  color: #1E6823;
}

.contributions {
  color: #1E6823;
}

.graph {
  border-radius: 100px;
  background: rgba(255,255,255, 0.5);
}
