// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-home {
  background-color: #D6E685;
  min-height: 100vh;
  padding-top: 20vh;
  text-align: center;
}

.home {
  color: black;
  font-weight: 100;
  font-size: 100;
}

h1.home {
  font-size: 60px;
  color: #1E6823;
}

.profile {
  padding-right: 35vw;
  padding-bottom: 50vh;
}

a.btn.btn-lg.btn-default.btn-home {
  background-color: transparent;
  border-width: 2px;
  color: #1E6823;
  font-weight: 100;
  border-color: #1E6823;
  margin-top: 20px;
}

a.btn.btn-lg.btn-default.btn-home:hover {
  opacity: 0.4;
}

img.img-circle.img-thumbnail.home-image {
  height: 200px;
}
